<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weblinglibrary">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name="com.webling.debuglibrary.presentation.view.ui.OverlayTaskService"
            android:enabled="true"
            android:exported="true" />
    </application>


</manifest>