<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.debuglibrary">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:name="com.eddy.debuglibrary.DebugApplication">
        <activity
            android:name="com.eddy.debuglibrary.presentation.view.ui.permission.PermissionActivity"
            android:theme="@style/Theme.Permission.Dialog"
            android:exported="true">
        </activity>

        <service
            android:name="com.eddy.debuglibrary.presentation.view.ui.OverlayTaskService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>